@font-regular: 'Open Sans', sans-serif;
@font-light: 'Open Sans', sans-serif;
@font-semibold: 'Open Sans', sans-serif;

@color-black: #000;
@color-blue: #6bb2c9;
@color-text-gray: #555;
@color-text-light: #999;
@color-red: #ef4d38;
@color-border-black: #333;
@color-border-light: #d7d7d7;
@color-highlight: #ffdd00;
@color-border-highlight: #f15732;

@body-background-color: #fff;
@body-text-color: #555555;
@body-line-height: 1.65em;
@body-font: 'Open Sans', sans-serif;
@body-font-size: 18px;
@body-link-color: @color-blue;
@heading-font: 'Oswald', sans-serif;

@nav-font: @font-semibold, "Helvetica Neue", Helvetica, sans-serif;
@nav-text-color: #555;
@nav-underline: 1px solid @color-highlight;
@nav-font-size: 16px;

@global-footer-background: #3a3a3a;
@global-footer-color: #fff;
@global-footer-font-size: 12px;

@search-color: #3a3a3a;
@search-highlight: @color-highlight;

@single-blog-post-border: 1px solid @color-border-light;
@single-blog-post-margin: 0 0 40px 0;

.transition(@time: .5s, @type: all) {
	transition: @time @type;
}

.container-fluid {
	max-width: 1170px;
}

#primary {
	padding-bottom: 140px;
}

html, body {
	height: 100%;
}

body {
	background: @body-background-color;
	color: @body-text-color;
	font-size: @body-font-size;
	font-family: @body-font;
	line-height: @body-line-height;
	position: relative;
	::selection {
	    background: #B4E6F8;
	}
}

a {
	color: @body-link-color;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1, h2 {
	font-family: @heading-font;
}

h2, h3, h4, h5, h6 {
}

h1 {
	font-size: 32px;
	font-weight: normal;
	text-transform: ;
	color: @color-text-gray;
}

h2 {
	font-size: 54px;
	font-weight: 400;
	line-height: 1.15em;
	text-transform: ;
	a {
		color: @color-text-gray;
		&:hover {
			color: @color-blue;
		}
	}
}

h3.post-subheadline {
	color: @color-text-gray;
	font-family: @font-light;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 35px;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	
}

blockquote {
	border-left: 4px solid @color-blue;
	clear: both;
	font-weight: bold;
	line-height: 1.5em;
	margin-left: 1em;
	padding-left: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

.global-header {
	padding: 32px;
	.global-title {
		float: left;
	}
	a {
		.transition(.25s, all);
	}
}

.global-social {
	margin-top: 34px;
	a {
		color: @color-text-gray;
		font-size: 20px;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			color: lighten(@color-text-gray, 50%)
		}
	}
}

.global-nav {
	float: left;
	font-family: @nav-font;
	font-weight: 700;
	margin-left: 65px;
	margin-top: 28px;
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul {
		li {
			display: inline-block;
			margin-right: 32px;
			a {
				border-bottom: @nav-underline;
				border-bottom-color: rgba(255,255,255,0);
				color: @nav-text-color;
				display: block;
				font-size: @nav-font-size;
				line-height: 26px;
				text-transform: uppercase;
			}
			a:hover {
				border-bottom: @nav-underline;
				border-bottom-width: 8px;
			}
			&.current_page_item {
				a {
					border-bottom: @nav-underline;	
					border-bottom-width: 8px;				
				}
			}
			&:last-child {
				margin-right: 0;
			}
			&.highlight {
				a {
					color: @color-blue;
					border: 2px solid @color-blue;
					border-radius: 10px;
					line-height: 33px;
					padding: 0 10px;
					&:hover {
						background-color: @color-blue;
						color: #fff;
					}
				}
			}
		}
	}
}

.global-footer {
	background: @global-footer-background;
	color: @global-footer-color;
	font-size: @global-footer-font-size;
	text-align: center;
	text-transform: uppercase;
	padding: 35px 0;
	width: 100%;
}

.site-logo {
	line-height: 0;
}

#site-logo-image {
	max-height: 95px;
	max-width: 190px;
	width: auto;
}

#site-logo-name {
	display: none;		
}

// Category List
.category-list {
	margin-bottom: 20px;
	.category-list-top {
		border: #d7d7d7;
		a {
			color: #bababa;
			display: block;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			box-shadow: 0 -0px 0px #fff inset;
			transition: .25s all cubic-bezier(.68,-0.09,.31,2);
			&:hover {
				box-shadow: 0 -3px 0px #000 inset;
			}
		}
	}
}

// Front Page
.home-slider-container {
	background: #F3F3F3;
	min-height: 100px;
	margin-bottom: 20px;
}

body.home {
	font-size: 16px;
}

.category-list-top {
	border-collapse: collapse;
	display: table;
	margin: 0;
	padding: 0;
	border: 1px solid silver;
	width: 100%;
	table-layout: fixed;
	text-align: center;
	li {
		border: 1px solid silver;
		display: table-cell;
	}
}

// Default Posts
.post-meta {
	color: @color-text-light;
	font-size: 12px;
	text-transform: uppercase;
	.fa-eye {
		font-size: 13px;
	}
}
.post-meta-item {
	margin-left: 30px;
	display: inline-block;
	&:first-child {
		margin-left: 0;
	}
}
article {
	ul {
		padding:0;
		margin:0;
		list-style: none;
		li {
			background: url('../images/li-square.png') no-repeat;
			background-size: 12px;
			background-position: 10px 9px;
			margin-left: 0;
			padding-left: 40px;
		}
	}
	&.post {
		border: @single-blog-post-border;
		margin: @single-blog-post-margin;
		// padding: 25px 40px;
	}
	.post-video {
		.embed-container { 
			position: relative; 
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;
		} 

		.embed-container iframe,
		.embed-container object,
		.embed-container embed { 
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.post-quote {
		background: url(../images/post-quote.png) no-repeat;
		background-size: 85px;
		background-position: 40px 0;
		margin-top: 40px;
		padding-left: 165px;
		a {
			color: inherit;
		}
		p {
			font-size: 30px;
			font-family: @heading-font;
			font-weight: 700;
			line-height: 1.25em;
			margin: .5em 0;
		}
		em {
			color: @color-blue;
			font-size: 14px;
			text-transform: uppercase;
			&:before {
				content: "\2014 ";
			}
		}
	}
	.post-image {
		line-height: 0;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.post-image-content {
		text-align: center;
	}
	.post-image-caption {
		display: block;
		clear: both;
		text-align: right;
		line-height: 1.5em;
		font-size: 10px;
		padding: 5px 0 25px;
		height: 45px;
	}
	a.cat-list-item {
		border-bottom: 3px solid;
		color: @color-text-light !important;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: initial !important;
		}
	}
	.read-more {
		border: 2.5px solid @color-blue;
		border-radius: 10px;
		color: @color-text-gray;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		line-height: 32px;
		padding: 0 16px;
		text-transform: uppercase;
		.transition(.25s, all);
		&:hover {
			background: @color-blue;
			color: #fff
		}
	}
	.post-closer-bar {
		background: lighten(@color-black, 90%);
		height: 10px;
		margin-top: 60px;
	}
}

.post-closer {
	margin-bottom: 40px;
	.yks-mailchimpFormContainer-0-e51dea693f {

	}
	.post-closer-mailchimp {
		width: 60%;
		@media (max-width: 650px) {
			width: 100%;
		}
	}
	.gform_confirmation_wrapper{
		&.post-closer-mailchimp {
			background: url('../images/rob-newsletter-bg.png') no-repeat #6bb2c9;
			background-size: contain;
			background-position: right;
			padding: 40px 30px;
			max-width: 100%;
			min-height: 269px;
			width: 100%;
			margin: 0;
			.gform_confirmation_message {
				font-size: 28px;
				font-family: @font-semibold;
				width: 60%;
				@media (max-width: 650px) {
					font-size: 28px;
					br {display: none;}
				}
			}
		}
	}
	.post-closer-mailchimp_wrapper {
		background: url('../images/rob-newsletter-bg.png') no-repeat #6bb2c9;
		background-size: contain;
		background-position: right;
		padding: 30px 30px 20px 30px;
		max-width: 100%;
		min-height: 269px;
		margin: 0;
		@media (max-width: 650px) {
			background-image: none;
		}
		.top_label .gfield_label,
		.ginput_complex label {
			display: none;
		}
		input[type=text],
		input[type=email] {
			border: none;
		}
		ul {
			li.first-name {
				clear: none;
				width: 38%;
				margin-right: 2%;
				float: left;
				@media (max-width: 650px) {
					float: none;
					width: 100%;
					margin: 0;
					input[type=text] {
						width: 100%;
					}
				}
			}
			li.email {
				clear: none;
				width: 60%;
				float: left;
				@media (max-width: 650px) {
					float: none;
					width: 100%;
				}
				input {
					width: 100%;
				}
			}
		}
		.gform_description,
		.gform_confirmation_message {
			font-size: 32px;
			font-family: @font-semibold;
			font-weight: 700;
			@media (max-width: 650px) {
				font-size: 28px;
				br {display: none;}
			}
		}
		.gform_footer {
			margin-bottom: 0;
			padding: .65em 0 0 0;
			input.button {
				width: 100%;
				background: @color-red;
				color: #fff;
				border: none;
				border-radius: 5px;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
			}
		}
		.validation_error {
			color: #fff;
			font-size: 14px;
			margin-bottom: 1em;
		}
		.validation_message {
			display: none;
		}
		.top_label .gfield_error .ginput_container {

		}
		li.gfield_error input[type=email], 
		li.gfield_error input[type=number], 
		li.gfield_error input[type=password], 
		li.gfield_error input[type=tel], 
		li.gfield_error input[type=text], 
		li.gfield_error input[type=url], 
		li.gfield_error textarea {
			border: none;
			box-shadow: 0 0 0px 1px #ef4d38 inset;
		}
		li.gfield.gfield_error, 
		li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning,
		li.gfield.gfield_error.gfield_contains_required {
			background: none;
			border: none;
			margin-bottom: 0;
			margin-top: 0;
		}
		li.gfield.gfield_error.gfield_contains_required div.ginput_container, 
		li.gfield.gfield_error.gfield_contains_required label.gfield_label {
			margin-top: .375em;
		}
	}
}

.article-margin {
	padding-left: 40px;
	padding-right: 40px;
}

.article-top {
	padding-top: 25px;
}

.article-bottom {
	padding-bottom: 25px;
}

// Image Handling
.alignleft {
	float: left; 
	margin: 2.5em 2.5em 2.5em -2.5em;
	max-width: 100%;
}

.alignright {
	float: right; 
	margin: 2.5em 0em 2.5em 2.5em;
	max-width: 100%;
}

.wp-caption {
	display: inline-block;
	&.alignnone {
		margin-right: 0;
		margin-left: -9%;
		max-width: 109%;
		width: 109%;
	}
}

.wp-caption-text {
	color: @color-text-light;
	font-size: 10px;
	line-height: 1.35em;
}

// Single Post
.affix {}
.affix-top {}
.affix-bottom {
	position: absolute;
}


.single-border {
	background: @color-border-light;
	border: none;
	height: 3px;
	margin-bottom: 32px;
	margin-top: 0;
}

.single {
	article {
		border: none;
		h1 {
			font-size: 64px;
			line-height: 110%;
			a {
				color: inherit;
				&:hover {
					background: initial;
					color: @color-blue;
				}
			}
		}
		.post {
			border: none;
		}
		blockquote {
			border-left: 8px solid @color-blue;
			font-size: 25px;
			font-weight: bold;
			line-height: 1.5em;
			margin-left: -2.5em;
			padding-left: 1.0em;
		}
		a {
			color: @color-blue;
			&:hover {
				background-color: @color-blue;
				color: #fff;
			}
		}
		p {
			span {
				border-bottom: 3px solid @color-highlight;
				box-shadow: inset 0 -3px 0 @color-highlight;
				text-decoration: none !important;
			}
		}
	}
	.fixed {
		position: fixed;
		top: 30px;
	}
}

// ************** Post Formats
article {
	&.format-quote {
		&.has-post-thumbnail {
			padding-top: 0;
			.post-meta,
			.post-title {
				display: none;
			}
		}
	}
	&.format-video {

	}
	&.format-image {

	}
	&.page {
		border: 1px solid @color-border-light;
		margin-bottom: 2em;
		.article-margin {
			margin-top: 40px
		}
	}
	.one-callout-button {
		background: none;
		border: none !important;
		display: block;
		width: 100%;
		span {
			background: #ef4d38;
			border: none !important;
			border-radius: 0px !important;
			color: #fff;
			display: block;
			text-align: center;
			font-size: 20px !important;
			font-weight: @font-semibold;
			padding: 20px !important;
			&:hover {
				top: 0;
			}
		}
	}
}

.single-format-standard {
	.post-sharing {
		border: none;
		margin-top: 1em;
		.share-network {
			background: none;
			border: none;
			display: block;
			float: none;
			height: 40px;
			line-height: 40px;
			margin: 0;
			padding: 0;
			vertical-align: middle;
			width: 40px;
		}
	}
}

.single-format-quote {
	.format-quote {
		border: 1px solid @color-border-light;
	}
}

.single-format-image {
	.post-image {
		margin-top: 40px;
	}
}

.remove-bottom-margin {
	margin-bottom: 0;
}

// ************** Comments
.comment-head {
	cursor: pointer;
	margin-top: 0;
	.transition;
	&.hide-head {
		margin: 0;
		height: 1px;
		overflow: hidden;
	}
}

.comment-reply-title {
	display: none;
	padding: 0 30px;
}

.comment-respond {
	border: 1px solid @color-border-light;
	max-height: 1px;
	overflow: hidden;
	.transition;
	&.expand {
		max-height: 1000px;
	}
}

#cancel-comment-reply-link {
	font-family: @font-regular;
	float: right;
    color: #ef4d38;
    border-radius: 3px;
    border: 1px solid #ef4d38;
    display: inline-block;
    padding: 0 10px;
}

.comment-list {
	font-size: 15px;
	list-style: none;
	line-height: 1.5em;
	margin: 3em 0 0 0;
	padding: 0;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.avatar {
		float: left;
		margin-right: 18px;
	}
	.comment-metadata,
	.comment-author,
	.comment-meta {
		display: inline-block;
	}
	.comment-content,
	.comment-awaiting-moderation {
		margin-left: 74px;
		margin-top: -42px;
	}
	.comment-awaiting-moderation {
		color: red;
		margin-top: -28px;
		margin-bottom: 50px;
	}
	.reply {
		margin-left: 74px;
	}
	.comment-reply-link {
		border: 1px solid @color-border-light;
		border-radius: 3px;
		color: @color-text-gray;
		display: inline-block;
		font-size: 14px;
		line-height: 1.65em;
		padding: 0 10px;
	}
	.comment-body {
		border-bottom: 1px solid @color-border-light;
		margin-bottom: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.says {
	}
}

.children {
	margin: 0;
	padding: 0;
	.comment-body {
		padding-left: 75px;
	}
}

.comment-form-top {
	border: 1px solid @color-border-light;
	border-bottom: none;
	color: @color-blue;
	display: block;
	font-family: @font-semibold;
	font-size: 25px;
	padding: 15px 30px;
	text-transform: uppercase;;
	i {
		color: @color-text-light;
	}
}

.comment-form {
	p {
		margin-left: 30px;
		margin-right: 30px;
	}
	.comment-notes,
	.logged-in-as {
		font-size: 12px;
	}
	label {
		display: block;
	}
	input[type=text],
	input[type=email],
	input[type=url] {
		border: none;
		border-radius: 0;
		border-bottom: 1px solid @color-border-light;
		font-weight: bold;
		font-size: 18px;
		padding: 8px 5px;
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none !important;
			border-color: @color-blue;
		}
	}
	textarea {
		border: 1px solid @color-border-light;
		border-radius: 0;
		font-size: 16px;
		padding: 8px;
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none !important;
			border-color: @color-blue;
		}
	}
	.form-submit {
		margin-bottom: 2em;
		text-align: right;
	}
	.submit {
		background: #fff;
		border: 2.5px solid @color-blue;
		border-radius: 10px;
		color: @color-text-gray;
		cursor: pointer;
		display: inline-block;
		font-family: @font-regular;
		font-size: 16px;
		font-weight: 100;
		line-height: 32px;
		padding: 0 16px;
		text-transform: uppercase;
		.transition(.25s, all);
		&:hover {
			background: @color-highlight;
			border-color: @color-highlight;
			color: @color-text-gray;
		}
	}
}

// ************* Post Sharing

@media only screen and (max-width: 992px) {
	.mobile-height {
		height: 1px;
	}
}


#one-share-popup .post-sharing,
.post-sharing {
	border-top: 0px solid @color-border-light;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0;
	.share-network {
		background: lighten(@color-black, 95%);
		border-right: 0px solid #fff;
		box-shadow: inset 1px 0px 0 #ffffff;
		color: #939598;
		display: block;
		float: left;
		font-family: "FontAwesome";
		font-size: 26px;
		padding: 10px 0;
		text-align: center;
		.transition(.25s, all);
		width: 16.66666667%;
		&:first-child {
			border-right: none;
			box-shadow: none;
		}
		&:first-child {
		}
		&:hover {
			color: #fff;
		}
	}
	.one-share-email:hover {background-color: #555;}
	.one-share-print:hover {background-color: #dfc973;}
	.one-share-twitter:hover {background-color: #55acee;}
	.one-share-facebook:hover  {background-color: #3b5998;}
	.one-share-google-plus:hover {background-color: #dd4b39;}
	.one-share-linkedin:hover {background-color: #0077b5;}
}

#one-share-popup .post-sharing .share-network {
	height: auto;
	line-height: inherit;
}

.back-to-top {
	background: url(../images/back-to-top.png) no-repeat;
	background-position: 50%;
	background-size: 37px;
	display: block;
	font-size: 12px;
	height: 40px;
	margin-top: 48px;
	overflow: hidden;
	text-align: left;
	text-indent: -1000px;
	width: 40px;
	&:hover {
		background-color: initial !important;
	}
}
.home,
.archive,
.category {
	.back-to-top {
		display: none;
	}
}

// ************** Post Nav
.post-nav {
	margin: 3em 0 5em 0;
	padding-bottom: 1px;
}

.post-nav-next,
.post-nav-prev {
	font-family: @font-regular;
	a {
		border: 1px solid @color-border-light;
		border-radius: 10px;	
		color: @color-text-gray;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 36px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		.transition(.25s, all);
		width: 200px;	
		&:hover {
			color: @color-blue;
			border-color: @color-blue;
			.fa-chevron-right {
				right: 10px;
			}
			.fa-chevron-left {
				left: 10px;
			}
		}
	}
	.fa-chevron-right,
	.fa-chevron-left {
		.transition(.5s, all);
	}
	.fa-chevron-right {
		position: absolute;
		right: 18px;
		top: 50%;
		margin-top: -7px;
	}
	.fa-chevron-left {
		position: absolute;
		left: 18px;
		top: 50%;
		margin-top: -7px;
	}
}

// ************** Sidebars
.one-widget-title {
	margin: 0;
	border-top: 3px solid @color-border-black;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 26px;
	padding-bottom: 20px;
}

.widget {
	font-size: 14px;
	line-height: 1.75em;
	margin-bottom: 26px;
} 

// *************** Widgets
.wpp-list {
	font-family: @font-regular;
	list-style: none;
	margin: 0;
	padding: 0;
	.wpp-post-title {
		margin-left: 30px;
		display: block;
		font-size: 13px;
		line-height: 20px;
		color: @color-text-gray;
		&:hover {
			color: @color-blue;
		}
	}
	.post-stats {
		color: @color-text-light;
		font-family: @font-light;
		font-size: 12px;
		font-weight: 100;
		text-transform: uppercase;
		margin-left: 30px;
		&:before {
			display: inline-block;
			content: "\f06e";
			font-family: "FontAwesome";
			margin-right: 6px;
		}
	}
	li {
		border-top: 1px solid #ddd;
		box-shadow: -6px 0 0 @color-border-highlight inset;
		padding: 15px 15px 15px 0px;
	}
	li:before {
		display: block;
		float: left;
		font-size: 32px;
		margin-top: 3px;
	}
	li:nth-child(1):before {
		content: '1';
	}
	li:nth-child(2) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 10%) inset;
		color: lighten(@color-text-gray, 10%);
		&:before {
			content: '2';
		}
	}
	li:nth-child(3) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 20%) inset;
		color: lighten(@color-text-gray, 20%);
		&:before {
			content: '3';
		}
	}
	li:nth-child(4) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 30%) inset;
		color: lighten(@color-text-gray, 30%);
		&:before {
			content: '4';
		}
	}
	li:nth-child(5) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 40%) inset;
		color: lighten(@color-text-gray, 40%);
		&:before {
			content: '5';
		}
	}
	li:nth-child(6) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 50%) inset;
		color: lighten(@color-text-gray, 50%);
		&:before {
			content: '6';
		}
	}
	li:nth-child(7) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 60%) inset;
		color: lighten(@color-text-gray, 60%);
		&:before {
			content: '7';
		}
	}
	li:nth-child(8) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 70%) inset;
		color: lighten(@color-text-gray, 70%);
		&:before {
			content: '8';
		}
	}
	li:nth-child(9) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 80%) inset;
		color: lighten(@color-text-gray, 80%);
		&:before {
			content: '9';
		}
	}
	li:nth-child(10) {
		box-shadow: -6px 0 0 lighten(@color-border-highlight, 90%) inset;
		color: lighten(@color-text-gray, 90%);
		&:before {
			content: '10';
		}
	}
}

.popular-posts {
	.one-widget-title {
		background: url(../images/widget-flame.png) no-repeat 0% 42%;
		background-size: 14px;
		box-shadow: -6px 0 0 #f15732 inset;
		font-size: 12px;
		line-height: 26px;
		margin-bottom: 8px;
		padding: 10px 0px 10px 22px;
	}
}

#text-4 {
	border: 1px solid @color-blue;
	.one-widget-title {
		display: none;
	}
	.custom-widget-title {
		background: #fff;
		background-size: 20px;
		border-top: 0;	
		color: @color-blue;
		font-size: 16px;
		font-family: @font-regular;
		line-height: 32px;
		padding-bottom: 15px;
		padding-top: 15px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		.fa {
			color: #77797c;
			font-size: 30px;
			margin: 0 9px;
			vertical-align: middle;
		}
	}
}

// Gravity Right
.mailchimp-sidebar {
	border: 1px solid #ddd;
    padding: 14px;
	h3.one-widget-title {
		padding-bottom: 0;
		margin-top: 0;
		padding-top: 0;
		border-top: 0;
	}
	.mailchimp-sidebar-form_wrapper {
		margin: 0;
		label {
			display: none !important;
		}
		.top_label input.medium {
			width: 100%;
		}
		.ginput_complex input[type=text] {
			width: 100%;
		}
		.ginput_complex span {
			display: block;
		}
		.gform_footer {
			margin-top: 0;
		}
		input.button {
			width: 100%;
			background: @color-red;
			color: #fff;
			border: none;
			border-radius: 5px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 16px;
		}
		input[type=text] {
			font-size: 14px;
			padding-left: 0;
			text-indent: 0;
		}
	}
}

// Recent Posts
.recent-posts-extended {
	.one-widget-title {
		display: none;
	}	
}

// Quote Widget
.OneImageShare {
	.one-widget-title {
		display: none;
	}
}
.one-recent-image-wrap {
	.one-share-image {
		display: block;
		position: relative;
		.one-share-trigger {
			position: absolute;
			bottom: 40px;
			z-index: 1;
			left: 50%;
			margin-left: -57px;
			width: 110px;
			background: none;
			border: 2px solid #000;
			border-radius: 8px;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			font-weight: bold;
			font-family: @font-semibold;
			padding: 0;
			line-height: 23px;
			.transition(.25s, all);
			&:hover {
				background: @color-blue;
				border-color: #fff;
				color: #fff;
			}
			img {
				display: block;
			}
		}
	}	
}

.fancybox-close {
	background: url(../images/close-search-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
    top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 8040;
}

// Podcast Player
.one-smart-player {
	.smart-track-player {
		margin-bottom: 0;
		.spp-track,
		.spp-track .spp-loaded-container {
			background-color: @color-blue !important;
		}
	}
	.textwidget {
		background: @color-blue;
	}
}

.mobile-widgets {
	padding: 18px;
	position: relative;
	z-index: 1;
	margin-bottom: 0;
	.smart-track-player {
		border: 1px solid #fff;
	}
}

.mobile-subscribe {
	text-align: center;
	h3 {
		margin-top: 0;
		text-align: center;
	}
	a {
		color: #fff;
		display: inline-block;
		margin: 0 10px;
	}
	img {
		width: 50px;
	}
}

body.spp .smart-track-player .spp-track .spp-controls .spp-share {
	bottom: -10px;
}

body.spp {
	.smart-track-player {
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
		min-height: 85px;
		.spp-track {
			padding-bottom: 20px;
			padding-top: 20px;
			vertical-align: top;
			padding-left: 20px;
			.spp-track-title,
			.spp-artist,
			.spp-duration {
				height: auto;
				overflow: initial;
				text-overflow: initial;
				width: 96%;
				-webkit-box-orient: horizontal;
				-webkit-line-clamp: initial;
			}
			.spp-artist {
				color: #fff !important;
				font-family: @font-light;
				font-size: 17px;
			}
			.spp-track-title {
				color: #e8e8e8 !important;
				font-size: 22px;
				font-family: @font-light;
			}
			.spp-duration {
				font-family: @font-light;
				position: absolute;
				left: -38px;
				z-index: -1;
				font-size: 114px;
				opacity: .1;
				bottom: 29px;
				top: auto;
			}
			.spp-controls {
				bottom: 0;
				padding-bottom: 0;
				margin-top: 25px;
				min-height: 50px;
				top: auto;
				right: 0;
				width: 96%;
				position: relative;
				.spp-speed {
					display: none;
				}
				.spp-play {
					width: 48px;
					height: 48px;
					background-position: -66px 0;
					right: 0;
					position: absolute;
					bottom: 0;
				}
				.ssp-share {
					bottom: 0 !important;
				}
				.spp-dloada,
				.spp-dload {
					position: relative;
					bottom: -10px;
					width: 20px;
					height: 24px;
					background-position: -94px -52px;
				}
			}
			.spp-progress {
				.spp-current-time {
					height: 100%;
				}
			}
		}
	}
}

// Safari Only Exception
span.spp-dload {
	position: relative;
	bottom: -10px;
	width: 20px;
	height: 24px;
	background-position: -94px -52px;
}

// Text Widget
.widget_text {
	p:first-child {
		margin-top: 0;
	}
}

// Subscriber Count Widget
#text-8 {
	.one-widget-title {
		display: none;
	}
}
.widget-total-subscribers {
	background: #eee;
	color: @color-text-gray;
	font-size: 16px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	text-transform: uppercase;
	span {
		font-family: @font-semibold;
	}
}

// Twitter Widget Quote Box
.tm-click-to-tweet {
	a.tm-ctt-btn {
		&:hover {
			background-color: inherit;
		}
	}
}

// Fixed Widgets
.fixed-widget .fixed {
    position: fixed;
    top: 30px;
}

// Image Widgets
p.simple-image {
	margin: 0;
}

// Fixed Footer
#one-wrapper {
	min-height: 100%;
	position: relative;
	#globalFooter {
		position: absolute;
		bottom: 0;
	}
}

// ******************** Search Styles
.search-fixed {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
}
.search-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	.transition();
	width: 100%;
	height: 100%;
	z-index: -1;
	.search-close {
		background: #000;
		display: block;
		position: absolute;
		z-index: 101;
		right: 0;
		width: 100px;
		height: 100px;
	}
	&.search-on {
		opacity: 1;
		top: 0;
		z-index: 1000;
	}
}
#search-frame {
	background: #fff;
	border: none;
	padding: 0;
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

#search-wait {
	background-color: #3A3A3A;
	height: 71px;
	text-align: center;
	color: #fff;
	line-height: 71px;
	position: absolute;
	z-index: 1;
	width: 100%;
}

body.search {
	height: 256px;
	.post-meta {
		margin-bottom: 10px;
	}
	.search-form {
		background: @search-color;
		color: #fff;
		position: relative;
		input[type=search] {
			background: none;
			border: 0px;
			border-bottom: 4px solid @search-highlight;
			color: #fff;
			font-size: 62px;
			font-family: @font-semibold;
			line-height: 85px;
			&:focus {
				outline: none;
			}
		}
		.search-box {
			padding: 50px 0px 60px 45px;
			display: inline-block;
			label {
				opacity: .5;
				display: block;
				font-size: 18px;
				font-family: @font-light;
				font-weight: normal;
				margin-top: 4px;
			}
		}
		.search-count {
			display: inline-block;
			margin-left: 30px;
			.search-total {
				color: @search-highlight;
				display: block;
				font-size: 74px;
				font-family: @font-semibold;
			}
			.search-results-label {
				display: inline-block;
				padding: 15px 0;
				font-size: 16px;
				opacity: .5;
			}
		}
		.search-close {
			background: @search-highlight url(../images/close-search.png) no-repeat 50% 50%;
			background-size: 28px;
			color: @search-color;
			display: block;
			position: absolute;
			cursor: pointer;
			right: 0;
			top: 0;
			height: 100%;
			width: 80px;
		}
	}
	.search-results-wrapper {
		border: 1px solid @color-border-light;
		margin-top: 30px;
		padding: 30px;
	}
	.search-widgets {
		padding-top: 30px;
	}
	.simple-image {
		margin: 0;
	}
	.search-item {
		border-bottom: 1px solid @color-border-light;
		clear: both;
		font-size: 16px;
		line-height: 1.5em;
		padding: 20px 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
		.wp-post-image {
			float: left;
			margin: 0px 20px 0px 0;
			width: 205px;
			height: 205px;
		}
		p:last-child {
			margin-bottom: 0;
		}
		h4 {
			a {color: @color-text-gray;}
			font-size: 20.5px;
			line-height: 1.35em;
			margin-top: 0;
			text-transform: uppercase;
		}
	}
	.search-indent {
		margin-left: 225px;
	}
}

/* **********************************************
Mobile Styles 
*/

@media only screen and (max-width : 992px) {
	#site-logo-image {
		max-height: 70px;
	}
	.global-header {
		padding: 20px 0;
		a:hover {
			text-decoration: none;
		}
	}
	.global-social {
		margin-top: 21px;
	}
	.global-nav {
		margin-left: 35px;
		margin-top: 22px;
		ul {
			li {
				margin-right: 25px;
			}
		}
	}
	.sidebar-right {
		p {
			line-height: 1.5em;
		}
	}
}


@media (max-width: 767px) {
	body {
		padding-top: 72px;
	}
	h2 {
		font-size: 28px;
	}
	.alignleft {
		margin: 1.5em 0;
		float: none;
		width: 100% !important;
		img {
			width: 100%;
		}
	}
	.global-header {
		background: #3A3A3A;
		padding: 12px 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 500;
		transition: transform .3s ease-in;
		transform: translateY(0);
		&.hide-away {
			transform: translateY(-100%);
		}
	}
	.global-social {
		display: none;
	}
	.global-nav {
		display: none;
	}
	.global-nav-mobile {
		margin-top: 9px;
		a {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50%;
			color: #fff;
			display: block;
			float: left;
			font-size: 20px;
			margin-left: 12px;
			width: 25px;
			height: 25px;
			&#podcast-trigger {
				background-image: url(../images/mobile-podcast.png);
				&.on {
					background-image: url(../images/mobile-podcast-on.png);
				}
			}
			&#search-trigger-mobile {background-image: url(../images/mobile-search.png);}
			&#menu-trigger-mobile {
				background-image: url(../images/mobile-hamburger.png);
				&.on {
					background-image: url(../images/mobile-hamburger-on.png);
				}
			}
		}
	}
	#mobile-nav {
		text-align: center;
		list-style: none;
		margin: 20px 0;
		padding: 1px 0;
		text-transform: uppercase;
		li {
			margin: 16px 0;
			padding: 0;
			font-size: 24px;
			font-family: @font-semibold;
			font-weight: 700;
		}
		a {
			color: @color-text-gray;
		}
	}
	.global-nav-mobile-search {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		background: #fff url(../images/mobile-search-bg.jpg) no-repeat;
		background-color: #f8fbfc;
		background-size: cover;
		background-position: bottom center;
		height: 100%;
		padding-top: 84px;

		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		z-index: 100;

		&.show {
			right: 0;
			display: block;
			-webkit-transition: -webkit-transform .2s ease-out;
			transition: transform .2s ease-out;
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}
		
		.global-mobile-message {
			bottom: 5%;
			font-family: @font-semibold;
			margin-top: 2em;
			padding: 0 5%;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
		}
	}

	.mobile-podcast-player {
		position: fixed;
		top: 0;
		width: 100%;
		background: @color-blue;
		background-size: contain;
		background-position: bottom center;
		color: #fff;
		height: 100%;
		padding-top: 84px;
		left: 0;

		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		z-index: 100;

		&.show {
			display: block;
			left: 0;
			-webkit-transition: -webkit-transform .2s ease-out;
			transition: transform .2s ease-out;
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		h2 {
			border: none;
			text-align: center;
			margin: 0 0 14px 0;
			padding: 0;
			font-size: 25px;
			font-family: @font-regular, sans-serif;
		}

		.one-smart-player {
			padding-top: 8px;
		}
	}

	body.spp .smart-track-player .spp-track .spp-duration {
		display: block;
	}

	body.spp .smart-track-player .spp-track .spp-controls {
		margin-top: 10px;
		.spp-share {
			margin-bottom: -16px;
			vertical-align: top;
		}
	}


	#site-logo-image {
		max-height: 47px;
		float: left;
	}
	#site-logo-name {
		color: @color-highlight;
		display: block;
		float: left;
	    font-size: 22px;
		font-family: @font-semibold;
		font-weight: 700;
	    line-height: 1.0em;
		margin-left: 11px;
	    text-transform: uppercase;
	    width: 115px;
	}
	.article-margin {
		padding-left: 25px;
		padding-right: 25px;
	}
	.post-meta-item {
		display: block;
		margin-left: 0;
	}
	.post-meta-time,
	.post-meta-view-count {
		display: inline-block;
	}
	.post-meta-view-count {
		margin-left: 20px;
	}

	article {
		.post-quote {
			padding-left: 25px;
			padding-top: 64px;
			margin-top: 18px;
			background-position: 25px 0;
		}
		.post-image-caption {
			text-align: left;
		}
		&.post {
			&:first-child {
				margin-top: 15px;
			}
		}
	}
	.single {
		.post-sharing {
			background: @color-border-light;
			top: 0px;
			left: 0;
			position: fixed;
			transition: .5s ease all;
			z-index: 10;
			.share-network {color: #fff;}
			.one-share-email {background-color: #555;}
			.one-share-print {background-color: #dfc973;}
			.one-share-twitter {background-color: #55acee;}
			.one-share-facebook  {background-color: #3b5998;}
			.one-share-google-plus {background-color: #dd4b39;}
			.one-share-linkedin {background-color: #0077b5;}
		}
		.back-to-top {
			display: block;
			margin: 0;
			background-size: 30px;
		}
		article {
			blockquote {
				margin-left: 0;
				font-size: 20px;
			}
		}
	}
	.home,
	.archive,
	.category {
		.post .post-sharing .share-network {
			width: 20%;
		}
	}
	.post {
		.post-sharing {
			margin: 0;
			width: 100% !important;
			.share-network {
				display: block;
				float: left;
				width: 16.666667%;
				height: 40px;
				line-height: 40px;
				padding: 0;
				&:first-child {
					box-shadow: none;
				}
			}
			.back-to-top {
				width: 16.666667%;
			}
			.one-share-print {
				display: none;
			}
			&.remove-social {
				top: 0px;
				opacity: 1;
			}
		}
	}

	.single {
		article {
			h1 {
				font-size: 38px;
			}
		}
	}

	.comment-list {
		.avatar {
			width: 45px;
		}
		.comment-author,
		.comment-meta {
			display: inline;
			.edit-link {
				display: none;
			}
		}
		.comment-metadata {
			display: block;
		}
		.comment-content {
			float: none;
			clear: both;
			margin: 0;
		}
		.reply {
			margin-left: 0;
		}
		.says {
			display: none;
		}
	}
	.comment-reply-title {
		font-size: 16px;
		line-height: 1.5em;
		position: relative;
		a {
			display: block;
		}
	}
	#cancel-comment-reply-link {
		position: absolute;
		top: 0;
		right: 28px;
	}

	.children {
		.comment-body {
			padding-left: 1.5em;
		}
	}

	.post-nav-next,
	.post-nav-prev {
		a {
			width: 150px;
			.fa-chevron-left {
				position: static;
				margin-right: 8px;
			}
			.fa-chevron-right {
				position: static;
				margin-left: 8px;
			}
		}
	}
	.global-footer {
		line-height: 1.65em;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	// Mobile Search
	#search-frame {
		background: none;
	}
	body.search {
		padding-top: 72px;
		background: none;
		.search-form {
			background: #3A3A3A;
			height: 72px;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10;
			.search-box {
				display: block;
				padding: 0;
				padding: 8px 18px;
				width: 90%;
				input[type=search] {
					font-size: 16px;
					line-height: 55px;
					border: none;
					width: 90%;
				}
				label {
					display: none;
				}
			}
			.search-count {
				display: none;
			}
			.search-close {
				background-image: url(../images/close-search-white.png);
				background-color: inherit;
				width: 50px;
				background-size: 22px;
			}
		}
		.search-results-wrapper {
			background: #fff;
			min-height: 100%;
			margin-top: 0;
		}
		
		.search-item {
			.post-meta-view-count {
				margin-left: 0;
			}
			.wp-post-image {
				float: none;
				width: 100%;
				height: auto;
				margin: 0 0 18px 0;
			}
		}
		.search-indent {
			margin-left: 0;
		}
		.search-widgets {
			background-color: #fff;
		}
	}
	body.search {
		#primary {
			padding-bottom: 0;
		}
		.results-col {
			padding: 0;
			.search-results-wrapper {
				border: none;
			}
		}
	}
}

@media (max-width: 580px) {
	.ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
		margin-right: 0 !important;
	}
}


//* Exception for Retina Assets
body.spp .spp-player-container .spp-track .spp-controls .spp-play, body.spp .smart-track-player .spp-track .spp-controls .spp-play, body.spp .spp-player-container .spp-track .spp-controls .spp-play-pause, body.spp .smart-track-player .spp-track .spp-controls .spp-play-pause, body.spp .spp-player-container .spp-track .spp-controls .spp-dload, body.spp .smart-track-player .spp-track .spp-controls .spp-dload, body.spp .spp-player-container .spp-track .spp-controls .spp-dloada, body.spp .smart-track-player .spp-track .spp-controls .spp-dloada, body.spp .spp-player-container .spp-track .spp-controls .spp-share, body.spp .smart-track-player .spp-track .spp-controls .spp-share, body.spp .spp-player-container .spp-track .spp-controls .spp-speed, body.spp .smart-track-player .spp-track .spp-controls .spp-speed, body.spp .spp-player-container .spp-track .spp-controls .spp-previous, body.spp .smart-track-player .spp-track .spp-controls .spp-previous, body.spp .spp-player-container .spp-track .spp-controls .spp-next, body.spp .smart-track-player .spp-track .spp-controls .spp-next {
	background-image: url(../images/player-control-sprite2-retina.png) !important;
	background-size: 129px 220px;
}

//* Gravity Forms Rules
div.gform_wrapper {
	form ul li, 
	ul li,
	ul.top_label {
		padding-left: 0;
		margin-left: 0;
		text-indent: 0;
		margin-bottom: .25em;
		label,
		.gfield_label {
			margin-bottom: 0;
		}
	}
	li {
		list-style: none;
		background: none;
	}
	input[type=text],
	input[type=email],
	input[type=url] {
		border: none;
		border-radius: 0;
		border-bottom: 1px solid @color-border-light;
		font-weight: normal;
		font-size: 18px;
		padding: 5px 0;
		text-indent: .5em;
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none !important;
			border-color: @color-blue;
		}
	}
	textarea {
		border: 1px solid @color-border-light;
		border-radius: 0;
		font-size: 16px;
		padding: 8px;
		width: 100%;
		-webkit-appearance: none;
		&:focus {
			outline: none !important;
			border-color: @color-blue;
		}
	}
	.gform_footer {
		margin: 0;
	}
	input.button {
		background: #fff;
		border: 2.5px solid @color-blue;
		border-radius: 10px;
		color: @color-text-gray;
		cursor: pointer;
		display: inline-block;
		font-family: @font-regular;
		font-size: 16px;
		font-weight: 100;
		line-height: 32px;
		padding: 0 16px;
		text-transform: uppercase;
		.transition(.25s, all);
		&:hover {
			background: @color-highlight;
			border-color: @color-highlight;
			color: @color-text-gray;
		}
	}
	div.validation_error {
		border: none;
		padding: 0;
		margin: 0;
		font-size: 1.0em;
		line-height: 1.5em;
	}
	li.gfield.gfield_error,
	li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	}
}

// Click to Tweet
.tm-click-to-tweet .tm-ctt-text a:hover {
	background: none;
}

// Contact Form
#gform_wrapper_2 {
	input[type=text],
	input[type=email] {
		text-indent: 0;
	}
}
