.container-fluid {
  max-width: 1170px;
}
body {
  background: #ffffff;
  color: #555555;
  font-size: 18px;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.65em;
  position: relative;
}
body ::selection {
  background: #B4E6F8;
}
a {
  color: #6bb2c9;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #555555;
}
h2 {
  font-size: 32px;
  line-height: 1.15em;
  text-transform: uppercase;
}
h2 a {
  color: #555555;
}
h3.post-subheadline {
  color: #555555;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 35px;
}
blockquote {
  border-left: 4px solid #6bb2c9;
  clear: both;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: 1em;
  padding-left: 1.5em;
}
img {
  max-width: 100%;
  height: auto;
}
.global-header {
  padding: 32px;
}
.global-header .global-title {
  float: left;
}
.global-header a {
  transition: 0.25s all;
}
.global-social {
  margin-top: 34px;
}
.global-social a {
  color: #555555;
  font-size: 20px;
  margin-left: 10px;
}
.global-social a:first-child {
  margin-left: 0;
}
.global-social a:hover {
  color: #d4d4d4;
}
.global-nav {
  float: left;
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 65px;
  margin-top: 35px;
}
.global-nav ul,
.global-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.global-nav ul li {
  display: inline-block;
  margin-right: 45px;
}
.global-nav ul li a {
  border-bottom: 1px solid #ffdd00;
  border-bottom-color: rgba(255, 255, 255, 0);
  color: #555555;
  display: block;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.global-nav ul li a:hover {
  border-bottom: 1px solid #ffdd00;
  border-bottom-width: 8px;
}
.global-nav ul li.current_page_item a {
  border-bottom: 1px solid #ffdd00;
  border-bottom-width: 8px;
}
.global-nav ul li:last-child {
  margin-right: 0;
}
.global-footer {
  background: #3a3a3a;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 35px 0;
}
.site-logo {
  line-height: 0;
}
#site-logo-image {
  max-height: 95px;
  max-width: 190px;
  width: auto;
}
#site-logo-name {
  display: none;
}
.category-list {
  margin-bottom: 20px;
}
.category-list .category-list-top {
  border: #d7d7d7;
}
.category-list .category-list-top a {
  color: #bababa;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 0px 0px #ffffff inset;
  transition: 0.25s all cubic-bezier(0.68, -0.09, 0.31, 2);
}
.category-list .category-list-top a:hover {
  box-shadow: 0 -3px 0px #000000 inset;
}
.home-slider-container {
  background: #F3F3F3;
  min-height: 100px;
  margin-bottom: 20px;
}
body.home {
  font-size: 16px;
}
.category-list-top {
  border-collapse: collapse;
  display: table;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
.category-list-top li {
  border: 1px solid silver;
  display: table-cell;
}
.post-meta {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
}
.post-meta .fa-eye {
  font-size: 13px;
}
.post-meta-item {
  margin-left: 30px;
  display: inline-block;
}
.post-meta-item:first-child {
  margin-left: 0;
}
article ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 13px;
}
article ul li {
  padding-left: 40px;
  text-indent: -20px;
}
article ul li:before {
  content: "■ ";
  color: #6bb2c9;
  margin-left: -13px;
  margin-right: 13px;
  font-size: 25px;
}
article.post {
  border: 1px solid #d7d7d7;
  margin: 0 0 40px 0;
}
article .post-video .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
article .post-video .embed-container iframe,
article .post-video .embed-container object,
article .post-video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article .post-quote {
  background: url(../images/post-quote.png) no-repeat;
  background-size: 85px;
  background-position: 40px 0;
  margin-top: 40px;
  padding-left: 165px;
}
article .post-quote a {
  color: inherit;
}
article .post-quote p {
  font-size: 30px;
  font-family: "montserratsemi_bold";
  line-height: 1.25em;
  margin: .5em 0;
}
article .post-quote em {
  color: #6bb2c9;
  font-size: 14px;
  text-transform: uppercase;
}
article .post-quote em:before {
  content: "\2014 ";
}
article .post-image {
  line-height: 0;
}
article .post-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
article .post-image-content {
  text-align: center;
}
article .post-image-caption {
  display: block;
  clear: both;
  text-align: right;
  line-height: 1.5em;
  font-size: 10px;
  padding: 5px 0 25px;
  height: 45px;
}
article .cat-list-item {
  border-bottom: 3px solid;
  color: #999999;
  margin-right: 10px;
}
article .cat-list-item:last-child {
  margin-right: 0;
}
article .read-more {
  border: 2.5px solid #6bb2c9;
  border-radius: 10px;
  color: #555555;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
  padding: 0 16px;
  text-transform: uppercase;
  transition: 0.25s all;
}
article .read-more:hover {
  background: #ffdd00;
  border-color: #ffdd00;
  color: #555555;
}
article .post-closer-bar {
  background: #e6e6e6;
  height: 10px;
  margin-top: 60px;
}
.post-closer {
  margin-bottom: 40px;
}
.article-margin {
  padding-left: 40px;
  padding-right: 40px;
}
.article-top {
  padding-top: 25px;
}
.article-bottom {
  padding-bottom: 25px;
}
.alignleft {
  float: left;
  margin: 2.5em 2.5em 2.5em -2.5em;
  max-width: 100%;
}
.alignright {
  float: right;
  margin: 2.5em 0em 2.5em 2.5em;
  max-width: 100%;
}
.wp-caption {
  display: inline-block;
}
.wp-caption.alignnone {
  margin-right: 0;
  margin-left: -9%;
  max-width: 109%;
  width: 109%;
}
.wp-caption-text {
  color: #999999;
  font-size: 10px;
  line-height: 1.35em;
}
.affix-bottom {
  position: absolute;
}
.single-border {
  background: #d7d7d7;
  border: none;
  height: 3px;
  margin-bottom: 32px;
  margin-top: 0;
}
.single article {
  border: none;
}
.single article h1 {
  font-size: 50px;
  line-height: 110%;
}
.single article h1 a {
  color: inherit;
}
.single article .post {
  border: none;
}
.single article blockquote {
  border-left: 8px solid #6bb2c9;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5em;
  margin-left: -2.5em;
  padding-left: 1.0em;
}
.single article p a {
  color: #6bb2c9;
}
.single article p a:hover {
  background-color: #6bb2c9;
  color: #fff;
}
.single article p span {
  border-bottom: 3px solid #ffdd00;
  box-shadow: inset 0 -3px 0 #ffdd00;
  text-decoration: none !important;
}
.single .fixed {
  position: fixed;
  top: 30px;
}
article.format-quote.has-post-thumbnail {
  padding-top: 0;
}
article.format-quote.has-post-thumbnail .post-meta,
article.format-quote.has-post-thumbnail .post-title {
  display: none;
}
article.page {
  border: 1px solid #d7d7d7;
  margin-bottom: 2em;
}
article.page .article-margin {
  margin-top: 40px;
}
article .one-callout-button {
  background: none;
  border: none !important;
  display: block;
  width: 100%;
}
article .one-callout-button span {
  background: #ef4d38;
  border: none !important;
  border-radius: 0px !important;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 20px !important;
  font-weight: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
  padding: 20px !important;
}
article .one-callout-button span:hover {
  top: 0;
}
.single-format-standard .post-sharing {
  border: none;
  margin-top: 1em;
}
.single-format-standard .post-sharing .share-network {
  background: none;
  border: none;
  display: block;
  float: none;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 40px;
}
.single-format-quote .format-quote {
  border: 1px solid #d7d7d7;
}
.single-format-image .post-image {
  margin-top: 40px;
}
.remove-bottom-margin {
  margin-bottom: 0;
}
.comment-head {
  cursor: pointer;
  margin-top: 0;
  transition: 0.5s all;
}
.comment-head.hide-head {
  margin: 0;
  height: 1px;
  overflow: hidden;
}
.comment-reply-title {
  display: none;
  padding: 0 30px;
}
.comment-respond {
  border: 1px solid #d7d7d7;
  max-height: 1px;
  overflow: hidden;
  transition: 0.5s all;
}
.comment-respond.expand {
  max-height: 1000px;
}
#cancel-comment-reply-link {
  font-family: "montserratregular", "Helvetica Neue", Helvetica, sans-serif;
  float: right;
  color: #ef4d38;
  border-radius: 3px;
  border: 1px solid #ef4d38;
  display: inline-block;
  padding: 0 10px;
}
.comment-list {
  font-size: 15px;
  list-style: none;
  line-height: 1.5em;
  margin: 3em 0 0 0;
  padding: 0;
}
.comment-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list .avatar {
  float: left;
  margin-right: 18px;
}
.comment-list .comment-metadata,
.comment-list .comment-author,
.comment-list .comment-meta {
  display: inline-block;
}
.comment-list .comment-content,
.comment-list .comment-awaiting-moderation {
  margin-left: 74px;
  margin-top: -42px;
}
.comment-list .comment-awaiting-moderation {
  color: red;
  margin-top: -28px;
  margin-bottom: 50px;
}
.comment-list .reply {
  margin-left: 74px;
}
.comment-list .comment-reply-link {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  line-height: 1.65em;
  padding: 0 10px;
}
.comment-list .comment-body {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.children {
  margin: 0;
  padding: 0;
}
.children .comment-body {
  padding-left: 75px;
}
.comment-form-top {
  border: 1px solid #d7d7d7;
  border-bottom: none;
  color: #6bb2c9;
  display: block;
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  text-transform: uppercase;
}
.comment-form-top i {
  color: #999999;
}
.comment-form p {
  margin-left: 30px;
  margin-right: 30px;
}
.comment-form .comment-notes,
.comment-form .logged-in-as {
  font-size: 12px;
}
.comment-form label {
  display: block;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url] {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d7d7d7;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 0;
  width: 100%;
  -webkit-appearance: none;
}
.comment-form input[type=text]:focus,
.comment-form input[type=email]:focus,
.comment-form input[type=url]:focus {
  outline: none !important;
  border-color: #6bb2c9;
}
.comment-form textarea {
  border: 1px solid #d7d7d7;
  border-radius: 0;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  -webkit-appearance: none;
}
.comment-form textarea:focus {
  outline: none !important;
  border-color: #6bb2c9;
}
.comment-form .form-submit {
  margin-bottom: 2em;
  text-align: right;
}
.comment-form .submit {
  background: #fff;
  border: 2.5px solid #6bb2c9;
  border-radius: 10px;
  color: #555555;
  cursor: pointer;
  display: inline-block;
  font-family: "montserratregular";
  font-size: 16px;
  font-weight: 100;
  line-height: 32px;
  padding: 0 16px;
  text-transform: uppercase;
  transition: 0.25s all;
}
.comment-form .submit:hover {
  background: #ffdd00;
  border-color: #ffdd00;
  color: #555555;
}
.post-sharing {
  border-top: 0px solid #d7d7d7;
  display: block;
  text-align: center;
  width: 100%;
}
.post-sharing .share-network {
  background: #f2f2f2;
  border-right: 0px solid #fff;
  box-shadow: inset -1px 0px 0 #ffffff;
  color: #939598;
  display: block;
  float: left;
  font-family: "FontAwesome";
  font-size: 26px;
  padding: 10px 0;
  text-align: center;
  transition: 0.25s all;
  width: 16.66666667%;
}
.post-sharing .share-network:last-child {
  border-right: none;
  box-shadow: none;
}
.post-sharing .share-network:hover {
  color: #fff;
}
.post-sharing .one-share-email:hover {
  background-color: #555;
}
.post-sharing .one-share-print:hover {
  background-color: #dfc973;
}
.post-sharing .one-share-twitter:hover {
  background-color: #55acee;
}
.post-sharing .one-share-facebook:hover {
  background-color: #3b5998;
}
.post-sharing .one-share-google-plus:hover {
  background-color: #dd4b39;
}
.post-sharing .one-share-linkedin:hover {
  background-color: #0077b5;
}
.back-to-top {
  background: url(../images/back-to-top.png) no-repeat;
  background-position: 50%;
  background-size: 37px;
  display: block;
  font-size: 12px;
  height: 40px;
  margin-top: 48px;
  overflow: hidden;
  text-align: left;
  text-indent: -1000px;
  width: 40px;
}
.post-nav {
  margin: 3em 0 5em 0;
  padding-bottom: 1px;
}
.post-nav-next,
.post-nav-prev {
  font-family: "montserratregular";
}
.post-nav-next a,
.post-nav-prev a {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.25s all;
  width: 200px;
}
.post-nav-next a:hover,
.post-nav-prev a:hover {
  color: #6bb2c9;
  border-color: #6bb2c9;
}
.post-nav-next a:hover .fa-chevron-right,
.post-nav-prev a:hover .fa-chevron-right {
  right: 10px;
}
.post-nav-next a:hover .fa-chevron-left,
.post-nav-prev a:hover .fa-chevron-left {
  left: 10px;
}
.post-nav-next .fa-chevron-right,
.post-nav-prev .fa-chevron-right,
.post-nav-next .fa-chevron-left,
.post-nav-prev .fa-chevron-left {
  transition: 0.5s all;
}
.post-nav-next .fa-chevron-right,
.post-nav-prev .fa-chevron-right {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -7px;
}
.post-nav-next .fa-chevron-left,
.post-nav-prev .fa-chevron-left {
  position: absolute;
  left: 18px;
  top: 50%;
  margin-top: -7px;
}
.one-widget-title {
  margin: 0;
  border-top: 3px solid #333333;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 26px;
  padding-bottom: 20px;
}
.widget {
  font-size: 14px;
  line-height: 1.75em;
  margin-bottom: 26px;
}
.wpp-list {
  font-family: "montserratregular", "Helvetica Neue", Helvetica, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wpp-list .wpp-post-title {
  margin-left: 30px;
  display: block;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
}
.wpp-list .post-stats {
  color: #999999;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 30px;
}
.wpp-list .post-stats:before {
  display: inline-block;
  content: "\f06e";
  font-family: "FontAwesome";
  margin-right: 6px;
}
.wpp-list li {
  border-top: 1px solid #ddd;
  box-shadow: -6px 0 0 #f15732 inset;
  padding: 15px 15px 15px 0px;
}
.wpp-list li:before {
  display: block;
  float: left;
  font-size: 32px;
  margin-top: 3px;
}
.wpp-list li:nth-child(1):before {
  content: '1';
}
.wpp-list li:nth-child(2) {
  box-shadow: -6px 0 0 #f47e62 inset;
  color: #6f6f6f;
}
.wpp-list li:nth-child(2):before {
  content: '2';
}
.wpp-list li:nth-child(3) {
  box-shadow: -6px 0 0 #f8a591 inset;
  color: #888888;
}
.wpp-list li:nth-child(3):before {
  content: '3';
}
.wpp-list li:nth-child(4) {
  box-shadow: -6px 0 0 #fbccc1 inset;
  color: #a2a2a2;
}
.wpp-list li:nth-child(4):before {
  content: '4';
}
.wpp-list li:nth-child(5) {
  box-shadow: -6px 0 0 #fef3f1 inset;
  color: #bbbbbb;
}
.wpp-list li:nth-child(5):before {
  content: '5';
}
.wpp-list li:nth-child(6) {
  box-shadow: -6px 0 0 #ffffff inset;
  color: #d4d4d4;
}
.wpp-list li:nth-child(6):before {
  content: '6';
}
.wpp-list li:nth-child(7) {
  box-shadow: -6px 0 0 #ffffff inset;
  color: #eeeeee;
}
.wpp-list li:nth-child(7):before {
  content: '7';
}
.wpp-list li:nth-child(8) {
  box-shadow: -6px 0 0 #ffffff inset;
  color: #ffffff;
}
.wpp-list li:nth-child(8):before {
  content: '8';
}
.wpp-list li:nth-child(9) {
  box-shadow: -6px 0 0 #ffffff inset;
  color: #ffffff;
}
.wpp-list li:nth-child(9):before {
  content: '9';
}
.wpp-list li:nth-child(10) {
  box-shadow: -6px 0 0 #ffffff inset;
  color: #ffffff;
}
.wpp-list li:nth-child(10):before {
  content: '10';
}
.popular-posts .one-widget-title {
  background: url(../images/widget-flame.png) no-repeat 0% 42%;
  background-size: 14px;
  box-shadow: -6px 0 0 #f15732 inset;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 8px;
  padding: 10px 0px 10px 22px;
}
#text-4 {
  border: 1px solid #6bb2c9;
}
#text-4 .one-widget-title {
  display: none;
}
#text-4 .custom-widget-title {
  background: #fff;
  background-size: 20px;
  border-top: 0;
  color: #6bb2c9;
  font-size: 16px;
  font-family: "montserratregular", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 32px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
#text-4 .custom-widget-title .fa {
  color: #77797c;
  font-size: 30px;
  margin: 0 9px;
  vertical-align: middle;
}
.recent-posts-extended .one-widget-title {
  display: none;
}
.OneImageShare .one-widget-title {
  display: none;
}
.one-recent-image-wrap .one-share-image {
  display: block;
  position: relative;
}
.one-recent-image-wrap .one-share-image .one-share-trigger {
  position: absolute;
  bottom: 40px;
  z-index: 1;
  left: 50%;
  margin-left: -57px;
  width: 110px;
  background: none;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  line-height: 23px;
  transition: 0.25s all;
}
.one-recent-image-wrap .one-share-image .one-share-trigger:hover {
  background: #6bb2c9;
  border-color: #fff;
  color: #fff;
}
.one-recent-image-wrap .one-share-image .one-share-trigger img {
  display: block;
}
.fancybox-close {
  position: absolute;
  top: 0;
  right: -40px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.one-smart-player .smart-track-player {
  margin-bottom: 0;
}
.one-smart-player .smart-track-player .spp-track,
.one-smart-player .smart-track-player .spp-track .spp-loaded-container {
  background-color: #6bb2c9 !important;
}
.one-smart-player .textwidget {
  background: #6bb2c9;
}
.mobile-widgets {
  padding: 18px;
}
.mobile-widgets .smart-track-player {
  border: 1px solid #fff;
}
body.spp .smart-track-player .spp-track .spp-controls .spp-share {
  bottom: -10px;
}
body.spp .smart-track-player {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 85px;
}
body.spp .smart-track-player .spp-track {
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: top;
  padding-left: 20px;
}
body.spp .smart-track-player .spp-track .spp-track-title,
body.spp .smart-track-player .spp-track .spp-artist,
body.spp .smart-track-player .spp-track .spp-duration {
  height: auto;
  overflow: initial;
  text-overflow: initial;
  width: 96%;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: initial;
}
body.spp .smart-track-player .spp-track .spp-artist {
  color: #fff !important;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
}
body.spp .smart-track-player .spp-track .spp-track-title {
  color: #e8e8e8 !important;
  font-size: 22px;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
}
body.spp .smart-track-player .spp-track .spp-duration {
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  left: -38px;
  z-index: -1;
  font-size: 114px;
  opacity: .1;
  bottom: 29px;
  top: auto;
}
body.spp .smart-track-player .spp-track .spp-controls {
  bottom: 0;
  padding-bottom: 0;
  margin-top: 25px;
  min-height: 50px;
  top: auto;
  right: 0;
  width: 96%;
  position: relative;
}
body.spp .smart-track-player .spp-track .spp-controls .spp-speed {
  display: none;
}
body.spp .smart-track-player .spp-track .spp-controls .spp-play {
  width: 48px;
  height: 48px;
  background-position: -66px 0;
  right: 0;
  position: absolute;
  bottom: 0;
}
body.spp .smart-track-player .spp-track .spp-controls .ssp-share {
  bottom: 0 !important;
}
body.spp .smart-track-player .spp-track .spp-controls .spp-dloada {
  position: relative;
  bottom: -10px;
  width: 20px;
  height: 24px;
  background-position: -94px -52px;
}
body.spp .smart-track-player .spp-track .spp-progress .spp-current-time {
  height: 100%;
}
.widget_text p:first-child {
  margin-top: 0;
}
#text-8 .one-widget-title {
  display: none;
}
.widget-total-subscribers {
  background: #eee;
  color: #555555;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
}
.widget-total-subscribers span {
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
}
.tm-click-to-tweet a.tm-ctt-btn:hover {
  background-color: inherit;
}
.home.fixed-widget .fixed {
  position: fixed;
  top: 30px;
}
p.simple-image {
  margin: 0;
}
.search-fixed {
  overflow: hidden;
}
.search-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.5s all;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.search-overlay .search-close {
  background: #000;
  display: block;
  position: absolute;
  z-index: 101;
  right: 0;
  width: 100px;
  height: 100px;
}
.search-overlay.search-on {
  opacity: 1;
  top: 0;
  z-index: 100;
}
#search-frame {
  background: #fff;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body.search {
  height: 256px;
}
body.search .post-meta {
  margin-bottom: 10px;
}
body.search .search-form {
  background: #3a3a3a;
  color: #fff;
  position: relative;
}
body.search .search-form input[type=search] {
  background: none;
  border: 0px;
  border-bottom: 4px solid #ffdd00;
  color: #fff;
  font-size: 62px;
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 85px;
}
body.search .search-form input[type=search]:focus {
  outline: none;
}
body.search .search-form .search-box {
  padding: 50px 0px 60px 45px;
  display: inline-block;
}
body.search .search-form .search-box label {
  opacity: .5;
  display: block;
  font-size: 18px;
  font-family: "montserratlight", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 4px;
}
body.search .search-form .search-count {
  display: inline-block;
  margin-left: 30px;
}
body.search .search-form .search-count .search-total {
  color: #ffdd00;
  display: block;
  font-size: 74px;
  font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
}
body.search .search-form .search-count .search-results-label {
  display: inline-block;
  padding: 15px 0;
  font-size: 16px;
  opacity: .5;
}
body.search .search-form .search-close {
  background: #ffdd00 url(../images/close-search.png) no-repeat 50% 50%;
  background-size: 28px;
  color: #3a3a3a;
  display: block;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
}
body.search .search-results-wrapper {
  border: 1px solid #d7d7d7;
  margin-top: 30px;
  padding: 30px;
}
body.search .search-widgets {
  padding-top: 30px;
}
body.search .simple-image {
  margin: 0;
}
body.search .search-item {
  border-bottom: 1px solid #d7d7d7;
  clear: both;
  font-size: 16px;
  line-height: 1.5em;
  padding: 20px 0;
}
body.search .search-item:first-child {
  padding-top: 0;
}
body.search .search-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
body.search .search-item .wp-post-image {
  float: left;
  margin: 0px 20px 0px 0;
  width: 205px;
  height: 205px;
}
body.search .search-item p:last-child {
  margin-bottom: 0;
}
body.search .search-item h4 {
  font-size: 20.5px;
  line-height: 1.35em;
  margin-top: 0;
  text-transform: uppercase;
}
body.search .search-item h4 a {
  color: #555555;
}
body.search .search-indent {
  margin-left: 225px;
}
/* **********************************************
Mobile Styles 
*/
@media only screen and (max-width: 992px) {
  #site-logo-image {
    max-height: 70px;
  }
  .global-header {
    padding: 20px 0;
  }
  .global-header a:hover {
    text-decoration: none;
  }
  .global-social {
    margin-top: 21px;
  }
  .global-nav {
    margin-left: 35px;
    margin-top: 22px;
  }
  .global-nav ul li {
    margin-right: 25px;
  }
  .sidebar-right p {
    line-height: 1.5em;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 98px;
  }
  h2 {
    font-size: 28px;
  }
  .alignleft {
    margin: 1.5em 0;
    float: none;
    width: 100% !important;
  }
  .alignleft img {
    width: 100%;
  }
  .global-header {
    background: #77787b;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
  }
  .global-social {
    display: none;
  }
  .global-nav {
    display: none;
  }
  .global-nav-mobile {
    margin-top: 9px;
  }
  .global-nav-mobile a {
    color: #fff;
    font-size: 20px;
    margin-left: 12px;
  }
  .global-nav-mobile a img {
    width: 25px;
  }
  #mobile-nav {
    text-align: center;
    list-style: none;
    margin: 20px 0;
    padding: 1px 0;
    text-transform: uppercase;
  }
  #mobile-nav li {
    margin: 16px 0;
    padding: 0;
    font-size: 24px;
    font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
  }
  #mobile-nav a {
    color: #555555;
  }
  .global-nav-mobile-search {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #ffffff url(../images/mobile-search-bg.jpg) no-repeat;
    background-color: #f8fbfc;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    padding-top: 84px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    z-index: 100;
  }
  .global-nav-mobile-search.show {
    right: 0;
    display: block;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .mobile-podcast-player {
    position: fixed;
    top: 0;
    width: 100%;
    background: #6bb2c9 url(../images/mobile-podcast-background.jpg) no-repeat;
    background-size: contain;
    background-position: bottom center;
    color: #fff;
    height: 100%;
    padding-top: 84px;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    z-index: 100;
  }
  .mobile-podcast-player.show {
    display: block;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  body.spp .smart-track-player .spp-track .spp-duration {
    display: block;
  }
  #site-logo-image {
    max-height: 47px;
    float: left;
  }
  #site-logo-name {
    color: #ffdd00;
    display: block;
    float: left;
    font-size: 22px;
    font-family: "montserratsemi_bold", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.1em;
    margin-left: 11px;
    text-transform: uppercase;
    width: 130px;
  }
  .article-margin {
    padding-left: 25px;
    padding-right: 25px;
  }
  .post-meta-item {
    display: block;
    margin-left: 0;
  }
  .post-meta-time,
  .post-meta-view-count {
    display: inline-block;
  }
  .post-meta-view-count {
    margin-left: 20px;
  }
  article .post-quote {
    padding-left: 25px;
    padding-top: 64px;
    margin-top: 18px;
    background-position: 25px 0;
  }
  article .post-image-caption {
    text-align: left;
  }
  .single .post-sharing {
    background: #d7d7d7;
    bottom: 0;
    left: 0;
    position: fixed;
    transition: .5s ease all;
    z-index: 10;
  }
  .single .back-to-top {
    margin: 0;
    background-size: 30px;
  }
  .post .post-sharing {
    margin: 0;
  }
  .post .post-sharing .back-to-top,
  .post .post-sharing .share-network {
    float: left;
    width: 16.66666666%;
  }
  .post .post-sharing .one-share-print {
    display: none;
  }
  .post .post-sharing.remove-social {
    bottom: -50px;
    opacity: 0;
  }
  .single article h1 {
    font-size: 38px;
  }
  .comment-list .avatar {
    width: 45px;
  }
  .comment-list .comment-author,
  .comment-list .comment-meta {
    display: inline;
  }
  .comment-list .comment-author .edit-link,
  .comment-list .comment-meta .edit-link {
    display: none;
  }
  .comment-list .comment-metadata {
    display: block;
  }
  .comment-list .comment-content {
    float: none;
    clear: both;
    margin: 0;
  }
  .comment-list .reply {
    margin-left: 0;
  }
  .comment-list .says {
    display: none;
  }
  .comment-reply-title {
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
  }
  .comment-reply-title a {
    display: block;
  }
  #cancel-comment-reply-link {
    position: absolute;
    top: 0;
    right: 28px;
  }
  .children .comment-body {
    padding-left: 1.5em;
  }
  .post-nav-next a,
  .post-nav-prev a {
    width: 150px;
  }
  .post-nav-next a .fa-chevron-left,
  .post-nav-prev a .fa-chevron-left {
    position: static;
    margin-right: 8px;
  }
  .post-nav-next a .fa-chevron-right,
  .post-nav-prev a .fa-chevron-right {
    position: static;
    margin-left: 8px;
  }
  .global-footer {
    line-height: 1.65em;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
body.spp .spp-player-container .spp-track .spp-controls .spp-play,
body.spp .smart-track-player .spp-track .spp-controls .spp-play,
body.spp .spp-player-container .spp-track .spp-controls .spp-play-pause,
body.spp .smart-track-player .spp-track .spp-controls .spp-play-pause,
body.spp .spp-player-container .spp-track .spp-controls .spp-dload,
body.spp .smart-track-player .spp-track .spp-controls .spp-dload,
body.spp .spp-player-container .spp-track .spp-controls .spp-dloada,
body.spp .smart-track-player .spp-track .spp-controls .spp-dloada,
body.spp .spp-player-container .spp-track .spp-controls .spp-share,
body.spp .smart-track-player .spp-track .spp-controls .spp-share,
body.spp .spp-player-container .spp-track .spp-controls .spp-speed,
body.spp .smart-track-player .spp-track .spp-controls .spp-speed,
body.spp .spp-player-container .spp-track .spp-controls .spp-previous,
body.spp .smart-track-player .spp-track .spp-controls .spp-previous,
body.spp .spp-player-container .spp-track .spp-controls .spp-next,
body.spp .smart-track-player .spp-track .spp-controls .spp-next {
  background-image: url(../images/player-control-sprite2-retina.png) !important;
  background-size: 129px 220px;
}
.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
}
.tcon > * {
  display: block;
}
.tcon:hover,
.tcon:focus {
  outline: none;
}
.tcon::-moz-focus-inner {
  border: 0;
}
.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  position: relative;
}
.tcon-menu__lines::before,
.tcon-menu__lines::after {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%;
}
.tcon-menu__lines::before {
  top: 10px;
}
.tcon-menu__lines::after {
  top: -10px;
}
.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}
.tcon-menu--xcross {
  width: auto;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 40px;
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.tcon-visuallyhidden:active,
.tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.tcon-search__item {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 0;
  transition: 0.3s;
  background: transparent;
  position: relative;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tcon-search__item::before,
.tcon-search__item::after {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 0;
  transition: 0.3s;
  background: transparent;
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.tcon-search__item::before {
  height: 4px;
  left: 0;
  background: black;
  border-radius: 2.85714px;
}
.tcon-search__item::after {
  right: 0;
  background: white;
  border-radius: 50%;
  width: 12.00012px;
  height: 12.00012px;
  border: 2px solid black;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.tcon-search--xcross.tcon-transform {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}
.tcon-search--xcross.tcon-transform .tcon-search__item::before,
.tcon-search--xcross.tcon-transform .tcon-search__item::after {
  border-radius: 2.85714px;
  background: black;
}
.tcon-search--xcross.tcon-transform .tcon-search__item::after {
  height: 4px;
  width: 100%;
  top: 0;
  right: 0;
  border: 0;
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
